
:root{
  --var-prymary-lettercolor:white;


}
.x{
  font-family:'Inter' ;

}
.__className_aaf875{
  background-image: url(/images/background1.svg) ;
  background-repeat: no-repeat;
}

.Nav-bar{
  background-color: transparent;
  border: 0.4px solid #ffffff;

  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  display: flex;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  align-items: center;
  margin-left: 50px;
  width: 1300px;
  height: 50px;
}
.Nav-Links{
  opacity: 0.70;
  padding-left: 120px;
  padding-right: 305px;
  justify-content: space-between;
}
.Nav-Links>ul{
  display: flex;
}
.Nav-Links>ul>li a{
  padding: 10px;
  color: var(--var-prymary-lettercolor);
  margin: 0px 15px;
  text-decoration: none;
  font-weight: 600;
}

.logo{
  display: flex;
  padding-left: 7px;
  padding-right: 150px;

}
.logo img{
  margin-top: 10px;
  margin-right: 10px;
  padding: 0%;
  height: 40px;
}
.logo h3{
  color: #ffffff;
  opacity: 0.70;

}
::marker{
  color: transparent;
}
.icon-prin>i{
  padding-right: 20px !important;
}
.icon-prin>i>img{
  width: 20px;
}
.btn{
  color: white;
  opacity: 0.70;
  
  background-color: transparent;
  border-color: white;
  padding: 10px 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-circle{
  background-color: transparent;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  border-color: white; 
  color: white;
  opacity: 0.70;
  background-image: url(/images/btn-crcle.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 20px;
}
.title{
  height: 300px;
  width: 800px;
  align-items: center !important;
  margin-left: 50px;
}
.title>h1{
  color: white;
  opacity: 0.70;
  font-size: 95px;
  margin-bottom: 0%;
  padding-bottom: 0%;
}
.title>p{
  margin-top: 0%;
  padding-top: 0%;
  color: white;
  opacity: 0.70;
}
.tbtn{
  display: flex;

}